//https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=424242&secondary.color=1565C0
//https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=424242&secondary.color=FF8F00
//https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=424242&secondary.color=C2185B
//https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=424242&secondary.color=2E7D32
//https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=424242&secondary.color=D50000
//https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=424242&secondary.color=FAFAFA
//https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=1565C0&secondary.color=FAFAFA
//https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=FF8F00&secondary.color=FAFAFA
//https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=C2185B&secondary.color=FAFAFA
//https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=2E7D32&secondary.color=FAFAFA
//https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=D50000&secondary.color=FAFAFA

/* Grey 800 */
$app-dusky-color:      #424242;
$app-duskyLight-color: #6d6d6d;
$app-duskyDark-color:  #1b1b1b;

/* Grey 50 */
$app-bright-color:      #fafafa;
$app-brightLight-color: #ffffff;
$app-brightDark-color:  #c7c7c7;

/* Blue 800 */
$app-primary-color:      #1565c0;
$app-primaryLight-color: #5e92f3;
$app-primaryDark-color:  #003c8f;

/* Amber 800 */
$app-accent-color:      #ff8f00;
$app-accentLight-color: #ffc046;
$app-accentDark-color:  #c56000;

/* Pink 700 */
$app-warn-color:      #c2185b;
$app-warnLight-color: #fa5788;
$app-warnDark-color:  #8c0032;

/* Green 800 */
$app-success-color:      #2e7d32;
$app-successLight-color: #60ad5e;
$app-successDark-color:  #005005;

/* Red A700 */
$app-error-color:      #d50000;
$app-errorLight-color: #ff5131;
$app-errorDark-color:  #9b0000;