<form [formGroup]="formGroup" (submit)="search($event)" fxLayout="column" fxLayoutGap="16px">
    <mat-card>
        <mat-card-title>Search Form</mat-card-title>
        <mat-card-content fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="16px grid">
            <mat-form-field fxFlex="50%">
                <mat-label>Path to search at selected server</mat-label>
                <input matInput formControlName="rootPath" placeholder="Path to search at selected server" required>
            </mat-form-field>
            <mat-form-field fxFlex="50%">
                <mat-label>Search term</mat-label>
                <input matInput formControlName="searchTerm" placeholder="Search term" required>
            </mat-form-field>
            <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="server">
                <mat-radio-button *ngFor="let server of (servers$ | async)" [value]="server">
                    {{server}}
                </mat-radio-button>
            </mat-radio-group>
        </mat-card-content>
        <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="formGroup.invalid">SEARCH</button>
        </mat-card-actions>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card>
</form>
<app-search-result-list [dataSource]="dataSource"></app-search-result-list>